<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../public/styles/style.css">
    <link rel="stylesheet" href="../public/styles/transitions/master.css">

    <title>Olx</title>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navLogoDiv">

                <a href="/">
                    <img class="navLogo" src="../public/img/OLX.svg" width="50" height="50" alt="" draggable="false">
                    OLX
                </a>
            </div>

            <div class="searchInputDiv">
                <input type="text" class="searchInput" placeholder="Izlash">
            </div>

            <div class="navLinksDiv">
                <ul class="navLinks">
                    <li class="navLinkItem">
                        <a href="/" class="nav-link">Asosiy</a>
                    </li>
                    <li class="navLinkItem">
                        <a href="/register" class="nav-link">Ro'yxatdan o'tish</a>
                    </li>
                    <li class="navLinkItem">
                        <a href="/login" class="nav-link">Kirish</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <section id="categoriesSection">
        <div class="container">
            <div class="categoriesWrapper">
                <h2 class="categoriesHeading">Kategoriyalar</h2>
                <ul class="categoriesList">
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-baby-carriage"></i>
                            <span class="categoryName">Bolalar dunyosi</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-key"></i>
                            <span class="categoryName">Ko'chmas mulk</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-car"></i>
                            <span class="categoryName">Transport</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-briefcase"></i>
                            <span class="categoryName">Ish</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-paw"></i>
                            <span class="categoryName">Hayvonlar</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-couch"></i>
                            <span class="categoryName">Uy va bog '</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-mobile-alt"></i>
                            <span class="categoryName">Elektronika</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-paint-roller"></i>
                            <span class="categoryName">Biznes va xizmatlar</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-tshirt"></i>
                            <span class="categoryName">Moda va stil</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-futbol"></i>
                            <span class="categoryName">Xobbi, dam olish va sport</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-gift"></i>
                            <span class="categoryName">Tekinga beraman</span>
                        </a>
                    </li>
                    <li class="categoryListItem">
                        <a href="">
                            <!-- <img class="categoryImage" src="" alt="category"> -->
                            <i class="fas fa-handshake"></i>
                            <span class="categoryName">Ayirboshlash</span>
                        </a>
                    </li>
                    <!-- <li class="categoryListItem">
                        <a href="">
                            <img class="categoryImage" src="" alt="category">
                            <i class="fas fa-envelope-open-text"></i>
                            <span class="categoryName">Qayta aloqa</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </section>

    <section id="productsSection">
        <div class="container">
            <h2 class="productsSectionHeading">PREMIUM E`LONLAR</h2>
            <div class="productsList">
                <div class="productItem">
                    <div class="productImgDiv">
                        <a href="">
                            <img src="https://picsum.photos/400/200" class="productImg"></img>
                        </a>
                    </div>
                    <div class="productInfo">
                        <div class="productNameDiv">
                            <a href="">
                                <span class="productName">Audi avto</span>
                                <div class="productNameUnderline"></div>
                            </a>
                        </div>
                        <div class="locationAndTime">
                            <span class="productLocation">Tashkent</span>
                            <span class="productLocation">2021-09-19</span>
                            <span class="productLocation">21:00</span>
                        </div>
                        <div class="productPriceDiv">
                            <span class="productPrice">200 000 000 so'm</span>
                        </div>
                        <div class="likeButtonDiv">
                            <button class="likeButton">
                                <i class="like far fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="productItem">
                    <div class="productImgDiv">
                        <a href="">
                            <img src="https://picsum.photos/400/200" class="productImg"></img>
                        </a>
                    </div>
                    <div class="productInfo">
                        <div class="productNameDiv">
                            <a href="">
                                <span class="productName">Audi avto</span>
                                <div class="productNameUnderline"></div>
                            </a>
                        </div>
                        <div class="locationAndTime">
                            <span class="productLocation">Tashkent</span>
                            <span class="productLocation">2021-09-19</span>
                            <span class="productLocation">21:00</span>
                        </div>
                        <div class="productPriceDiv">
                            <span class="productPrice">200 000 000 so'm</span>
                        </div>
                        <div class="likeButtonDiv">
                            <button class="likeButton">
                                <i class="like far fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="productItem">
                    <div class="productImgDiv">
                        <a href="">
                            <img src="https://picsum.photos/400/200" class="productImg"></img>
                        </a>
                    </div>
                    <div class="productInfo">
                        <div class="productNameDiv">
                            <a href="">
                                <span class="productName">Audi avto</span>
                                <div class="productNameUnderline"></div>
                            </a>
                        </div>
                        <div class="locationAndTime">
                            <span class="productLocation">Tashkent</span>
                            <span class="productLocation">2021-09-19</span>
                            <span class="productLocation">21:00</span>
                        </div>
                        <div class="productPriceDiv">
                            <span class="productPrice">200 000 000 so'm</span>
                        </div>
                        <div class="likeButtonDiv">
                            <button class="likeButton">
                                <i class="like far fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="container">
            <div class="footerTop">
                <div class="footerLogoDiv">
                    <img src="../public/img/OLX.svg" alt="" class="logo">
                </div>
                <div class="footerLinksDiv">
                    <ul class="footerLinksList">
                        <li class="footerLinksListItem">
                            <ul>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Mobil ilovalar
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Yordam
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Pullik xizmatlar
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        OLX-da biznes
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Saytda reklama
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Foydalanish shartlari
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Maxfiylik siyosati
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footerLinksListItem">
                            <ul>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Qanday sotib olish va sotish?
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Xavfsizlik qoidalari
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Sayt xaritasi
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Mintaqalar xaritasi
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Career
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Teskari aloqa
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="footerSocialMedia">
                    <ul class="contactList">
                        <li class="contactListItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-telegram-plane"></i>
                            </a>
                        </li>
                        <li class="contactListItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="contactListItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        
                    
                    </ul>

                    <ul class="appList">
                        <li class="applistItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-google-play"></i>
                            </a>
                        </li>
                        <li class="applistItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-apple"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footerBottom">
                <span>Barcha huquqlar himoyalangan. OLX group 2021</span>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>


    <script>
        const likeButton = document.querySelectorAll('.likeButton')

        likeButton.forEach(btn => {
            btn.addEventListener('click', event => {
                let liekIcon = event.target.children[0]
                console.log(liekIcon);
            if (liekIcon.classList.contains('far')) {
                liekIcon.classList.remove('far')
                liekIcon.classList.add('fas')


            } else {
                liekIcon.classList.remove('fas')
                liekIcon.classList.add('far')
            }
        })
        })
    </script>

</body>

</html>