<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../public/styles/style.css">
    <link rel="stylesheet" href="../public/styles/transitions/master.css">

    <title>Olx Kirish</title>
</head>

<body>
    <section class="loginSection">
        <div class="container-fluid">
            <div class="formWrapper">
                <form id="loginForm">
                    <h2>Kirish</h2>
                    <div>
                        <label for="">E-mail</label>
                        <input type="email" name="email" required>
                    </div>
                    <div>
                        <label for="">Parol</label>
                        <input class="passwordInput" type="password" name="password" required>
                        <button class="eye" type="button"><i class="far fa-eye"></i></button>
                    </div>

                    <div class="buttons">
                        <button class="registerSubmit" type="submit">Kirish</button>

                        <a href="/register">Ro'yxatdan o'tish</a>
                    </div>
                </form>
                <div class="logoDiv">
                    <img class="logo" src="../public/img/OLX.svg" width="200px" height="200px" alt="" draggable="false">
                    <span>Online savdo</span>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

    <script>
        const eye = document.querySelector('.eye')
        const passwordInput = document.querySelector('.passwordInput')
        const far = document.querySelector('.far')


        eye.addEventListener('click', event => {
            if (far.classList.contains('fa-eye')) {
                far.classList.remove('fa-eye')
                far.classList.add('fa-eye-slash')


            } else {
                far.classList.remove('fa-eye-slash')
                far.classList.add('fa-eye')
            }
            if (passwordInput.type === 'password') {

                passwordInput.type = 'text'
            } else {
                passwordInput.type = 'password'
            }
        })
    </script>
</body>

</html>