<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('parts/head') %> 

    <title>Olx Btafsil</title>
</head>

<body>
    <%- include('parts/nav') %>

    <section class="moreSection">
        <div class="container">
            <div class="moreImageDiv">
                <img src="../public/img/store-4156934.svg" alt="" class="moreImage">
            </div>
            <div class="productInfo">
                <div class="productNameDiv">
                        <span class="productName">Audi avto</span>
                        <div class="productNameUnderline"></div>
                </div>
                <div class="locationAndTime">
                    <span class="productLocation">Tashkent</span>
                    <span class="productLocation">2021-09-19</span>
                    <span class="productLocation">21:00</span>
                </div>
                <div class="productPriceDiv">
                    <span class="productPrice">200 000 000 so'm</span>
                </div>
                <div class="likeButtonDiv">
                    <button class="likeButton">
                        <i class="like far fa-heart"></i>
                    </button>
                </div>

                <div class="descriptionDiv">
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolor, ratione sit eius deleniti quas veritatis eligendi dolorem hic atque adipisci numquam eos. Illum quae illo commodi quo id dicta nesciunt. Libero veniam dicta voluptas reprehenderit? Corrupti corporis illo cupiditate consectetur suscipit amet debitis ratione saepe. Explicabo, molestias? Neque, suscipit!
                    </p>
                </div>
            </div>
        </div>
    </section>



    <%- include('parts/footer') %> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>


    <script>
        const likeButton = document.querySelectorAll('.likeButton')

        likeButton.forEach(btn => {
            btn.addEventListener('click', event => {
                let liekIcon = event.target.children[0]
                console.log(liekIcon);
            if (liekIcon.classList.contains('far')) {
                liekIcon.classList.remove('far')
                liekIcon.classList.add('fas')


            } else {
                liekIcon.classList.remove('fas')
                liekIcon.classList.add('far')
            }
        })
        })
    </script>

</body>

</html>