<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('parts/head') %> 

    <title>Olx Yangi e'lon</title>
</head>

<body>
    <%- include('parts/nav') %>

    <section id="addNewSection">
        <div class="container">
            <form id="addNewForm" action="/add_new" method="POST">
                <h2>Yangi e'lon qo'shish</h2>
                <div class="inputField">
                    <label for="">Nomi</label>
                    <input type="text" class="newAdNameInput" name="name" required>
                </div>

                <div class="inputField">
                    <label for="">Manzil</label>
                    <input type="text" class="newAdLocationInput" name="location">
                </div>
                <div class="priceOpts">
                    <div class="inputField">
                        <label for="">Narxi</label>
                        <input type="number" class="newAdPriceInput" name="price" required>
                    </div>
                    <div class="selectField">
                        <label for="">Valyuta</label>
                        <select name="currensy" id="currensy" required>
                            <option value="dollar" selected>so'm</option>
                            <option value="sum">dollar</option>
                            <option value="euro">yevro</option>
                        </select>
                    </div>
                </div>
                <div class="selectField">
                    <label for="">Kategoriya</label>
                    <select name="category" id="category" required>
                        <option value="category" selected>Kategoriya</option>
                        
                    </select>
                </div>
                <div class="inputField">
                    <label for="">Rasm</label>
                    <input type="file" accept="image/png, image/jpg, image/jpeg" name="photo">
                    <input value="placeholder.png" type="hidden" accept="image/png, image/jpg, image/jpeg" name="photo-placeholder">
                </div>
                

                <div class="textareaField">
                    <label for="">Ma'lumot</label>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                </div>

                <div class="buttonDiv">
                    <button class="submitForm" type="submit">
                        Joylashtirish
                    </button>
                </div>
            </form>
        </div>
    </section>



    <%- include('parts/footer') %> 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>


    <script>
        const likeButton = document.querySelectorAll('.likeButton')

        likeButton.forEach(btn => {
            btn.addEventListener('click', event => {
                let liekIcon = event.target.children[0]
                console.log(liekIcon);
                if (liekIcon.classList.contains('far')) {
                    liekIcon.classList.remove('far')
                    liekIcon.classList.add('fas')


                } else {
                    liekIcon.classList.remove('fas')
                    liekIcon.classList.add('far')
                }
            })
        })
    </script>

</body>

</html>