<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../public/styles/style.css">
    <link rel="stylesheet" href="../public/styles/transitions/master.css">

    <title>Olx Yangi e'lon</title>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navLogoDiv">

                <a href="/">
                    <img class="navLogo" src="../public/img/OLX.svg" width="50" height="50" alt="" draggable="false">
                    OLX
                </a>
            </div>

            <div class="searchInputDiv">
                <input type="text" class="searchInput" placeholder="Izlash">
            </div>

            <div class="navLinksDiv">
                <ul class="navLinks">
                    <li class="navLinkItem">
                        <a href="/" class="nav-link">Asosiy</a>
                    </li>
                    <li class="navLinkItem">
                        <a href="/register" class="nav-link">Ro'yxatdan o'tish</a>
                    </li>
                    <li class="navLinkItem">
                        <a href="/login" class="nav-link">Kirish</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <section id="addNewSection">
        <div class="container">
            <form id="addNewForm" action="/add_new" method="POST">
                <h2>Yangi e'lon qo'shish</h2>
                <div class="inputField">
                    <label for="">Nomi</label>
                    <input type="text" class="newAdNameInput" name="name" required>
                </div>

                <div class="inputField">
                    <label for="">Manzil</label>
                    <input type="text" class="newAdLocationInput" name="location">
                </div>
                <div class="priceOpts">
                    <div class="inputField">
                        <label for="">Narxi</label>
                        <input type="number" class="newAdPriceInput" name="price" required>
                    </div>
                    <div class="selectField">
                        <label for="">Valyuta</label>
                        <select name="currensy" id="currensy" required>
                            <option value="dollar" selected>so'm</option>
                            <option value="sum">dollar</option>
                            <option value="euro">yevro</option>
                        </select>
                    </div>
                </div>
                <div class="selectField">
                    <label for="">Kategoriya</label>
                    <select name="category" id="category" required>
                        <option value="category" selected>Kategoriya</option>
                        
                    </select>
                </div>
                <div class="inputField">
                    <label for="">Rasm</label>
                    <input type="file" accept="image/png, image/jpg, image/jpeg" name="photo">
                    <input value="placeholder.png" type="hidden" accept="image/png, image/jpg, image/jpeg" name="photo-placeholder">
                </div>
                

                <div class="textareaField">
                    <label for="">Ma'lumot</label>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                </div>

                <div class="buttonDiv">
                    <button class="submitForm" type="submit">
                        Joylashtirish
                    </button>
                </div>
            </form>
        </div>
    </section>



    <footer class="footer">
        <div class="container">
            <div class="footerTop">
                <div class="footerLogoDiv">
                    <img src="../public/img/OLX.svg" alt="" class="logo">
                </div>
                <div class="footerLinksDiv">
                    <ul class="footerLinksList">
                        <li class="footerLinksListItem">
                            <ul>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Mobil ilovalar
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Yordam
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Pullik xizmatlar
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        OLX-da biznes
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Saytda reklama
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Foydalanish shartlari
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Maxfiylik siyosati
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footerLinksListItem">
                            <ul>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Qanday sotib olish va sotish?
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Xavfsizlik qoidalari
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Sayt xaritasi
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Mintaqalar xaritasi
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Career
                                    </a>
                                </li>
                                <li class="footerListItem">
                                    <a href="" class="footerLink">
                                        Teskari aloqa
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="footerSocialMedia">
                    <ul class="contactList">
                        <li class="contactListItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-telegram-plane"></i>
                            </a>
                        </li>
                        <li class="contactListItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="contactListItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>


                    </ul>

                    <ul class="appList">
                        <li class="applistItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-google-play"></i>
                            </a>
                        </li>
                        <li class="applistItem">
                            <a href="" class="footerLink">
                                <i class="fab fa-apple"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footerBottom">
                <span>Barcha huquqlar himoyalangan. OLX group 2021</span>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>


    <script>
        const likeButton = document.querySelectorAll('.likeButton')

        likeButton.forEach(btn => {
            btn.addEventListener('click', event => {
                let liekIcon = event.target.children[0]
                console.log(liekIcon);
                if (liekIcon.classList.contains('far')) {
                    liekIcon.classList.remove('far')
                    liekIcon.classList.add('fas')


                } else {
                    liekIcon.classList.remove('fas')
                    liekIcon.classList.add('far')
                }
            })
        })
    </script>

</body>

</html>